body {
    background-image: url("https://images.pexels.com/photos/163856/sunset-train-road-163856.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-size: cover;
}
.jumbotron {
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.187);
    color: rgb(97, 29, 29);
}

.modal-body {
    text-align: center;
}

.modal-footer {
    display: flex;
    justify-content: center;
}

input {
    font-style: italic;
}

.form-control {
    font-size: 12px;
}

.gif-container {
    text-align: center;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.386);
    padding: 20px;
}

#add-gif-button {
    margin-top: 5px;
    background-color: rgba(0, 0, 0);
    color: rgba(146, 92, 255, 0.685);
}

#gif-topic-input {
    text-align: center;
    padding: 5px;
    background-color: rgba(146, 92, 255, 0.338);

}

h5 {
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    color: rgb(255, 77, 0);
}

.app-container {
    padding: 20px;
    background-color: rgb(165, 42, 71);
    box-shadow: 10px 5px 100px black
}

#add-train {
    background-color: black;
    color: 
}

.gif {
    margin: 10px 20px 0px 10px;
    box-shadow: 10px 5px 100px white;
    height: 230px;
}

.gif-display {
    justify-content: center;
}

h6 {
    color: rgb(165, 42, 71);
    font-size: 20px;
    margin: 10px;
}

